@model PostDetailViewModel


<div class="card mt-5 mb-5">

    <div class="card-header text-center fw-bold fs-5">
        @Model.Title
    </div>

    <div class="card-body" style="height:800px">
        @Model.Summary
        <hr />
        @Model.Content
    </div>
    
    <div class="card-footer text-secondary fw-bold text-center">
        Bu post'un tüm hakları BilgeBlog'a aittir.
    </div>

</div>